@font-face {
  font-family: "golos";
  src: url("../fonts/golos-regular.woff2");
}

@font-face {
  font-family: "golos-demiBold";
  src: url("../fonts/golos-demibold.woff2");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

html {
  font-size: calc(100vw/1440*10);
}

a {
  text-decoration: none;
}

body {
  font-family: "golos", sans-serif;
  font-size: 1.5rem;
  line-height: 1.58;
  color: #404040;
  min-width: 32rem;
  position: relative;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: calc(100vw/320*10);
  }
  .burger {
    display: block;
  }
  .mb-none {
    display: none;
  }
  .header-top {
    padding: 1.6rem;
    position: relative;
  }
  .header-top__logo {
    max-width: 12.9rem;
  }
  .header-top__img {
    width: 100%;
    height: 2rem;
  }
  .header-top__list {
    padding: 2rem;
  }
  .header-top__list li {
    width: 1.7rem;
    height: 1.7rem;
  }
  .header-top__search {
    width: 100%;
    height: 100%;
  }
  .header-top__text {
    display: none;
  }
  .nav {
    padding: 1.6rem;
  }
  .nav__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow: scroll;
    gap: 1rem;
  }
  .nav__list::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .nav__item {
    padding: .8rem 0;
    background-color: #F7F7F8;
    white-space: nowrap;
  }
  .nav__item:hover > .subnav {
    display: none;
  }
  .nav__link {
    font-size: 1.4rem;
  }
  .nav__link.has-subnav {
    display: none;
  }
  .slider {
    min-height: 55rem;
    padding: 2.4rem 0;
  }
  .slider__bg {
    width: 100%;
    height: 16.2rem;
  }
  .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0 1.6rem;
  }
  .slider__image {
    width: 24rem;
  }
  .slider__pagination {
    margin-bottom: 1rem;
  }
  .composition {
    width: 28.8rem;
    min-height: 26.2rem;
  }
  .composition__list-item {
    width: 2.4rem;
    height: 2.4rem;
  }
  .composition__title {
    margin: .8rem 0;
    font-size: 2.3rem;
    line-height: 1.1;
  }
  .composition__text {
    font-size: 1.5rem;
  }
  .composition__btn {
    padding: 1.2rem 3.85rem;
    font-size: 1.5rem;
  }
  .product {
    padding: 4.6rem 1.6rem 5.2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product__catalog {
    -ms-flex-preferred-size: 6.7rem;
        flex-basis: 6.7rem;
    margin-bottom: 3.6rem;
  }
  .product__title {
    font-size: 2.7rem;
  }
  .product__list {
    -ms-flex-preferred-size: 15rem;
        flex-basis: 15rem;
    margin-bottom: 3.2rem;
  }
  .product__list:last-child {
    margin-bottom: 0;
  }
  .description {
    padding: 4.6rem 1.6rem 5.2rem;
  }
  .description__polair {
    width: 28.8rem;
    padding: 0 1.6rem;
    margin-bottom: 4.8rem;
    font-size: 1.8rem;
    line-height: 1.62;
  }
  .description__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3.4rem;
  }
  .description__item {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .description__item:nth-child(2n)::before {
    left: calc( 50% - 7.2rem);
  }
  .description__item::before {
    width: 8rem;
    height: 8rem;
    top: -0.8rem;
    left: calc( 50% - 2.5rem);
  }
  .description__info {
    font-size: 4rem;
    text-align: center;
  }
  .description__info span {
    font-size: 1.6rem;
  }
  .title {
    font-size: 2.7rem;
  }
  .title span {
    font-size: 1.2rem;
  }
  .quality {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .quality__img {
    width: 100%;
  }
  .quality__description {
    padding: 4.6rem 1.6rem 5.2rem;
  }
  .quality__text {
    margin-bottom: 5.4rem;
  }
  .quality .link {
    position: absolute;
    bottom: 5.2rem;
  }
  .assist {
    padding: 4.6rem 1.6rem 5.2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 17rem;
  }
  .assist__description {
    width: 100%;
  }
  .assist__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 17rem;
  }
  .assist__card {
    width: 100%;
    min-height: 42rem;
    padding: 0 1.6rem 4rem;
  }
  .assist__img {
    height: 23rem;
  }
  .assist__title {
    font-size: 2.3rem;
  }
  .news {
    padding: 4.6rem 1.6rem 5.2rem;
  }
  .news__title {
    font-size: 2.7rem;
  }
  .news__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .new {
    width: 100%;
    height: auto;
  }
  .new:hover {
    -webkit-transform: none;
            transform: none;
  }
  .new__wrap {
    display: block;
  }
  .new__title {
    font-size: 1.7rem;
  }
  .catalog {
    padding: 16rem 1.6rem 4.8rem;
  }
  .catalog__content {
    width: 100%;
    padding: 2.4rem 1.6rem;
  }
  .catalog__content .btn {
    width: 100%;
  }
  .brand {
    padding: 0 1.6rem;
  }
  .brand .title {
    display: none;
  }
  .brand__content {
    display: none;
  }
  .brand-mb {
    display: block;
    padding: 4.6rem 0 10rem;
  }
  .brand-mb__item {
    padding: 0 2.4rem 0 1.6rem;
    border-left: 1px solid #E1E1E1;
  }
  .brand-mb__pagination {
    margin-bottom: 3.2rem;
  }
  .brand-mb__pagination .swiper-pagination-bullet {
    height: .8rem;
    width: .8rem;
    background-color: #D0D0D0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 1;
  }
  .brand-mb__pagination .swiper-pagination-bullet-active {
    background-color: #003154;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  .footer__top {
    padding: 3.2rem 1.6rem 0;
  }
  .footer__line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .menu__list {
    max-width: 100%;
  }
  .menu__span {
    margin: 0;
    padding-bottom: 1.2rem;
    font-size: 1.7rem;
    border-bottom: 1px solid #174463;
  }
  .menu__item {
    margin: 0;
    font-size: 1.6rem;
    padding: 1rem 0;
    border-bottom: 1px solid #174463;
  }
  .menu__nav-item {
    margin: 0;
    padding: 1.2rem 0;
    font-size: 1.7rem;
    border-bottom: 1px solid #174463;
  }
  .menu__nav-item_mb {
    display: block;
  }
  .menu-mb__label {
    display: block;
  }
  .menu-mb__span {
    display: block;
    position: relative;
  }
  .menu-mb__span::after {
    content: '';
    display: block;
    background-image: url(../images/icon/angle-wh.svg);
    width: 1.7rem;
    height: 1.7rem;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: .8;
    position: absolute;
    top: 1.2rem;
    right: 0;
  }
  .menu__list_product {
    height: 0;
    overflow: hidden;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    -webkit-transform: translateX(-20rem);
            transform: translateX(-20rem);
  }
  .menu #checkbox:checked ~ .menu__list_product {
    height: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .footer-bottom {
    padding: 2.4rem 1.6rem 3.2rem;
    gap: 3.6rem;
  }
  .footer-bottom__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .footer-bottom__item_center {
    gap: 1.6rem;
  }
  .footer-bottom__item_bot {
    gap: 2.4rem;
  }
  .footer-bottom__logo {
    height: 2.9rem;
  }
  .footer-bottom__contacts {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-bottom__phone {
    font-size: 2rem;
  }
  .footer-bottom__text {
    font-size: 1.1rem;
  }
  .footer-bottom__text_right {
    width: 100%;
    text-align: center;
  }
  .footer-bottom__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.4rem;
  }
  .footer-bottom__down {
    width: 100%;
    text-align: center;
  }
}
/*# sourceMappingURL=media.css.map */